/* Global */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #dff7f7;
}

/* Aligns all content within the container to the center */
#bodyContainer {
  text-align: center;
}

/* Adds spacing around the button */
#buttonDiv {
  padding: 0 0 0.5em 0;
}

/* Button styles */
.button {
  margin: 0.5em;
  padding: 0.5em;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

.button:hover {
  background-color: pink;
}

/* Sets the overall rules for the visual grid box */
#container {
  display: grid;
  grid-template-columns: repeat(var(--columns-row), 1fr);
  grid-template-rows: repeat(var(--columns-row), 1fr);
  width: 500px;
  height: 500px;
  border: 5px solid black;
  border-radius: 5px; 
  margin: auto;
  box-shadow: 5px pink;

 }

 /* Sets display for the grids */

 :root {
   --columns-row: 2;
 }

 div.grid {
  border: 1px solid #000; 
}

/* Mobile */
@media (max-width: 450px) {
  #container {
    max-width: 300px;
    max-height: 300px;
  }
}
